body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: midnightblue;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fortunecontainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: auto;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.fortunebutton {
    justify-content: center;
    background-color: white;
    align-items: center;
    width: 550px;
    height: 150px;
    color: midnightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
    padding: 20px;
    display: flex;
    flex-shrink: 0;
    position: relative;
}

/* bluecornerboxes */
.fortunebutton::before,
.fortunebutton::after,
.fortunebutton span::before,
.fortunebutton span::after {
    content: "";
    position: absolute;
    background-color: midnightblue;
}

/* topleft */
.fortunebutton::before {
    top: 0;
    left: 0;
    width: 65px;
    height: 35px;
}

/* bottomleft */
.fortunebutton::after {
    bottom: 0;
    left: 0;
    width: 65px;
    height: 20px;
}

/* topright */
.fortunebutton span::before {
    top: 0;
    right: 0;
    width: 20px;
    height: 35px;
}

/* bottomright */
.fortunebutton span::after {
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

.home {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 1.5em;
    color: white;
}