body {
    display: flex;
    align-items: column;
    text-align: center;
    justify-content: center;
    margin-top: 20em;
    width: 130vw;
    overflow: visible;
}

.fortunecookiesaying {
    font-family: 'Times New Roman', Times, serif;
    color: midnightblue;
    font-size: 1.5em;
}

.sayingwluckynumbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: midnightblue;
    font-size: 1.5em;
}

.flip {
    color: midnightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

.topleftbox {
    top: 0;
    left: 0;
    width: 390px;
    height: 140px;
    background: midnightblue;
    position: absolute
}

.bottomleftbox {
    bottom: 0;
    left: 0;
    width: 390px;
    height: 60px;
    background: midnightblue;
    position: absolute;
}

.toprightbox {
    top: 0;
    right: -480px;
    height: 140px;
    width: 80px;
    background: midnightblue;
    position: absolute;
}

.bottomrightbox {
    bottom: 0;
    right: -480px;
    height: 60px;
    width: 80px;
    background: midnightblue;
    position: absolute;
}

.luckynumbers {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 9em;
    font-size: 1em;
}